<%= stylesheet_link_tag '/plugin_assets/redmine_banner_notifications/stylesheets/banner_notifications.css' %>

<% if User.current.logged? %>
  <% cache "my_banners_#{User.current.id}_#{BannerNotification.good_time}" do %>
    <div id="banner_area">
      <% @banners.each do |bann| %>
        <div class="banner banner-<%= bann.notification_type %>" id="banner-<%= bann.id %>">
          <p>
            <% if bann.hideable %>
              <span style="float:right;cursor:pointer;" class="close-banner-notif" data-banner-id="<%= bann.id %>">Close X</span>
            <% end %>
          </p>
          <div style="text-align:center;">
            <%= textilizable bann.content, align: 'center' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#banner_area').insertAfter($('#top-menu'));

    $('.close-banner-notif').on('click', function() {
      thisBannerId = $(this).closest('.banner')[0];
      $.ajax({
        method: 'POST',
        url: "<%= banners_close_path %>",
        data: { user_id_banner: "<%= User.current.id %>", banner_id: $(this).data('banner-id') }
      }).done(function(msg) {
        thisBannerId.remove();
      });
    });
  });
</script>
